.navbar {
  display: flex;
  flex-direction: column;
}

.nav-btn1:last-child {
  margin-bottom: 0;
}

.row {
  display: block;
}

.col-lg-4,
.col-md-6,
.col-sm-12 {
  width: 100%;
}

.card {
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 12px;
  width: 80%;
  align-items: center;
  background-color: #fff;
  margin-top: 1rem;
  margin-left: 2rem;
  overflow: hidden;
}

.total-transactions h2 {
  font-size: 18px;
  background-color: #eee;
}

.card-header b {
  font-size: 16px;
}

.transaction-details {
  display: flex;
  align-items: center;
}

.card-details {
  flex: 1;
}

.button-links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button-links a {
  flex: 1;
  margin-right: 5px;
}

.nav-btn {
  margin-top: 10px;
}

.card-header {
  margin-left: 5px;
  margin-top: 5px;
}

.card-body {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

.card-details i {
  margin-right: 10px;
}

.icon {
  font-size: 80px;
}
